* {
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background: #13101A;
  color: white;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  position: relative;
}

@media screen and (min-width: 376px) {
  body {
    display: none;
  }
}
button {
  cursor: pointer;
}

.d-none {
  display: none !important;
  opacity: 0 !important;
  height: 0px !important;
  width: 0px !important;
  transition: opacity 0.5s ease-out 0.15s, width 0s linear 0.15s, height 0s linear 0.15s;
}

header {
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
header p {
  font-size: 14.5px;
  font-weight: 600;
}

.titleName {
  font-weight: 600;
  display: inline-block;
  margin-bottom: 1em;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  padding: 0 1em;
}

#completed-el {
  margin-bottom: 4em;
}

#btnGroup {
  padding: 0 1em;
  z-index: 9;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  color: white;
  background: #3446ee;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  font-weight: 600;
  line-height: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  width: 100%;
}

#newTaskBtn {
  box-shadow: 0px 0px 16px 8px #1a1622be;
}

#addOverlay {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  background: #1a1622ce;
}

.visible {
  opacity: 1;
  transition: opacity 0.15s ease-out 0.5s;
}

.overlayInner-el {
  background: #13101A;
  width: 100%;
  padding: 1em;
  border-radius: 4px;
}

#addTask {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
#addTaskField {
  font-size: 15px;
  padding: 0.75rem;
  line-height: 1.25rem;
  background: #1a1622;
  border: none;
  border-radius: 4px;
  font-weight: 600;
  color: white;
}

.tasksbox {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.taskItem {
  display: flex;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
  background-color: #1a1622;
  padding: 0.5em;
  border-radius: 0.25em;
}
.taskItem .checkIconBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.taskItem .taskValue {
  font-size: 0.9em;
  font-weight: 500;
  line-height: 1em;
}

.line-through {
  text-decoration: line-through;
}